.wrapper {
  display: flex;
  align-items: flex-end;
  padding: 40px;
  width: 995px;
  height: 400px;
  border-radius: 27px;
  background: rgba(255, 0, 245, 0.05);
}

.chart {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}