.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  row-gap: 28px;
}
